<% include ./partials/header %>

<section id="about_us">
    <div class="container">
        <div class="border">
            <div>
                <h2>SADGURU RICE TRADERS</h2>
                <p>Established in the year 2007 at Navi Mumbai, Maharashtra, We “Sadguru Rice Trader” are a Sole Proprietorship based firm, engaged as the foremost Wholesale Trader of Organic Rice,Sugar,Jaggery etc. Our products are high in demand due to their premium quality and affordable prices. Furthermore, we ensure to timely deliver these products to our clients, through this, we have gained a huge clients base in the market. Sadguru Rice Traders has made a name for itself in the list of top suppliers of in India. The supplier company is located in Navi Mumbai, Maharashtra and is one of the leading sellers of listed products.Sadguru Rice Traders is listed in Trade India's list of verified sellers offering supreme quality of etc. Buy in bulk from us for the best quality products and service.</p>
            </div>
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">FACTSHEET</h2>
                    <div class="card-content">
                        <h3 class="card-subtitle">Basic Information</h3>
                        <p class="card-text"><span class="property">Nature of Business</span><span class="value">Wholesale Trader</span></p> 
                        <p class="card-text"><span class="property">Company CEO</span><span class="value">Jayshree Bhanushali</span></p>
                        <p class="card-text"><span class="property">Total No of Employees</span><span class="value">Up to 8 people</span></p>
                        <p class="card-text"><span class="property">Year of Establishment</span><span class="value">2007</span></p>
                    </div>
                    <div class="card-content">
                        <h3 class="card-subtitle">Statutory profile</h3>
                        <p class="card-text"><span class="property">Bank</span><span class="value">STATE BANK OF INDIA</span></p> 
                        <p class="card-text"><span class="property">GST No</span><span class="value">27AGTPC8980C1Z1</span></p>
                    </div>
                    <div class="card-content">
                        <h3 class="card-subtitle">Packaging/Payment and Shipment Details</h3>
                        <p class="card-text"><span class="property">Payment Mode</span><span class="value">Cash, Credit Card, DD, Cheque, Online</span></p> 
                        <p class="card-text"><span class="property">Delivery Options</span><span class="value">Home Delivery, Shop Visit</span></p> 
                        <p class="card-text"><span class="property">Shipment Mode</span><span class="value">By Road</span></p>
                    </div>
                </div>
            </div>
            <div>
                <p class="subtitle">Why Us?</p>	
                <p>Since our origin in this market, we are actively committed towards providing our prestigious patrons with a remarkable range of product.</p>
            </div>
            <div>
                <p>Few reasons which are responsible for our development in this domain are as follow:</p>
                <ul class="list">
                    <li>Extremely reliable range of products</li>
                    <li>Well managed services</li>
                    <li>Highly experienced team of professionals</li>
                    <li>Strict quality standards</li>
                    <li>Timely delivery</li>
                    <li>Strong vendor base</li>
                    <li>Wide distribution network</li>
                    <li>Huge warehouse</li>
                    <li>Customized packaging</li>
                    <li>Competitive price structure</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<% include ./partials/footer %>







