<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Error!!!</title>
        <link rel="stylesheet" href="../stylesheets/app.css" type="text/css">
    </head>
    <body>
        <a href="/"><img id="error" src="../images/error/error.png" alt="Page Not Found"></a>
    </body>
</html>